* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* background colors */
  --bg-primary-color: #292929;
  --bg-secondary-color: #fdfdfc;

  /* text colors */
  --text-primary-color: #f5f5f5;

  /* spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;

  /* border radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  /* border */
  --border-color: #444444;
  /* sizing */
  --size-sm: 8px;
  --size-md: 16px;
  --size-lg: 32px;
  --size-xl: 48px;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #292929;
  color: #f5f5f5;
}
section {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--space-lg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
}
.infos {
  display: flex;
  padding: var(--space-sm);
  flex-direction: row;
  justify-content: space-between;
}
.info {
  text-align: center;
  width: 15%;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  padding: var(--space-sm);
}
.board {
  margin-top: var(--space-xl);
  border: 1px solid var(--border-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}
.block {
  /* height: 30px;
  width: 30px; */
  border: 1px solid var(--border-color);
}
.snake{
  background: var(--bg-secondary-color);
}